<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Quizportal</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/">Home</a></li>
        <li><a href="/#/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
