<div class="section" id="banner">
<div class="container">
  <center><h1 style="color: #d8d8d8;">Welcome to <i>Quizportal</i></h1></center>
  <center><h3 style="color: #f8f8f8;">Solutions for all of your problems!</h3></center>
</div>
</div>

<div class="section">
<div class="container">
  <center><h1 class="fw-300">How does it work?</h1></center>
</div>
</div>
