<div class="container" id="banner">
	<div class="section">
		<center>
			<div class="panel-heading">Login (new user?)</div>
			<div class="panel-body">
				<label>
	        <!-- {{input valueBinding="email" placeholder="Email"}} -->

	      </label>
	      <label>
	        <!-- {{input type="password" valueBinding="password" placeholder="Password"}} -->
	      </label>
	      <button>Login</button>
			</div>
		</center>
	</div>
</div>
