<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigacija">Toggle</button>
        <div class="navbar-brand">{{#link-to 'index'}}Quizportal{{/link-to}}</div>
      </div>

      <div class="collapse navbar-collapse" id="navigacija">
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
          {{#if currentUser}}
            <li class="navbar-text">Welcome {{currentUser.name}}</li>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          {{/if}}
        </ul>  
      </div>

    </div>
  </nav>
</header>

<div class="container">
  application
  {{outlet}}
</div>

<footer>
</footer>
