
<div class="navbar">
  <div class="container">
    <div class="navbar-collapse float-left">
      {{#link-to 'index' classNames='navbar-brand'}}Quizportal{{/link-to}}

    </div>
    <div class="navbar-collapse float-right">
      <ul class="navbar-nav nav">
        {{#if currentUser}}
          <li>{{#link-to 'user'}}{{currentUser.name}}{{/link-to}}</li>
        {{/if}}
                  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>

          {{#if currentUser}}
            <li><a {{action 'logout'}} style="cursor: pointer">Logout</a></li>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          {{/if}}

      </ul>
    </div>
  </div>
</div>

{{outlet}}

<footer>
</footer>
