  <div class="section" id="banner">
    <div class="container">
      <center><h1 style="color: #d8d8d8;">Welcome to <i>Quizportal</i></h1></center>
      <center><h3 style="color: #f8f8f8;">Solutions for all of your problems!</h3></center>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <center><h1 class="fw-300">How does it work?</h1></center>
    </div>
  </div>



<!--
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<h1>
					Welcome
				</h1>
				<p>
					<button class="btn btn-primary" {{action 'showRegistrationForm'}}>REGISTER</button>
				</p>
			</div>
			<div class="col-md-7">
				<div style="display: none" id="registrationForm">
					{{view Quizportal.RegisterTemplateView}}
				</div>
				<div id="previewCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#previewCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#previewCarousel" data-slide-to="1"></li>
						<li data-target="#previewCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
				    <div class="item active" style="height: 200px">
				      <div class="carousel-caption">
				      	SLIDE 1
				      </div>
				    </div>
				    <div class="item" style="height: 200px">
				      <div class="carousel-caption">
				      	SLIDE 2
				      </div>
				    </div>
				    <div class="item" style="height: 200px">
				      <div class="carousel-caption">
				      	SLIDE 3
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	Nesto
</div>
-->
{{outlet}}