<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				Za ulogirati se
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">Register</div>
			<div class="panel-body">
				Za registrirati se
			</div>
		</div>
	</div>
	
</div>

{{outlet}}
