@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

/* Navbar custom stilovi */

#navigacija > ul > li > .active {
	color: #fff;
}

/* SignIn panel */

.loginPanel {
	max-width: 400px;
	position: center;
	margin-left: auto;
	margin-right: auto;
}