/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

@import "init";


$container-width: 80%;
$container-max-width: 1200px;
$section-top-bottom-padding: 15px;
$navbar-height: 100px;


.float-left {
  float: left;
}
.float-right {
  float: right;
}




.section {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0;
}

.container {
  display: block;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}



.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.nav > li {
  display: block;
  margin: 0;
  padding: 0;
}

.nav > li a {
  display: block;
  text-decoration: none;
  font-family: Open Sans;
}

@import "navbar";

@import "buttons";

/*
testiranje
*/

.fw-300 {
  font-weight: 300;
}

body {
  height: 2000px;
}

#banner {
  position: relative;
  height: 550px;
  background: url('/images/bnr-background.png');
  border-bottom: 1px solid #eee;
  padding: 0;
}


#banner .banner-layer1,
#banner .banner-layer2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
}

#banner .banner-layer1 {
  background-image: url('/images/bnr-lyr1.png');
}

#banner .banner-layer2 {
  background-image: url('/images/bnr-lyr2.png');
}

#banner h1 {
  font-weight: 300;
  font-size: 36px;
  margin: 10px 0;
  color: #333;
}

.navbar-layer1 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  height: 60px;
}