$navbar-background-color: #4097fc;

.navbar {
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  background: #fafcff;
  height: 100px;
  border-bottom: 1px solid rgba(200, 210, 220, 0.7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  z-index: 1100;
  transition: height 0.1s;
  
  border-color: transparent;
  box-shadow: none;
  background: transparent;
  /*background: darken(#4097fc,25%);*/
}

.navbar.navbar-smaller {
  height: 66px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  
  background: #443574;
}

.navbar .navbar-collapse {
  padding: 25px 0;
  display: inline;
  transition: padding 0.1s;
}

.navbar.navbar-smaller .navbar-collapse {
  padding: 8px 0;
}

.navbar .navbar-brand {
  color: rgba(80, 88, 96, 0.7);
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  float: left;
  font-family: Averia Sans Libre;
  color: #ccc;
}

.navbar .navbar-brand:hover {
  /*color: #51d466;*/
  color: #fff;
  transition: color 0.1s;
}



.navbar .navbar-nav {
  display: inline;
}

.navbar .navbar-nav > li {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
}

.navbar .navbar-nav > li a {
  height: 36px;
  line-height: 34px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(80, 88, 96, 0.8);
  border: 1px solid transparent;
  color: rgba(245,245,245,0.85);
}

.navbar .navbar-nav > li a:hover {
  background: rgba(245,245,245,0.9);
  border-radius: 3px;
  color: #436;
  border: 1px solid rgba(0,0,0,0.13);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 4%, rgba(0, 0, 0, 0.1) 90%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  
}